.take-ride {
    display: flex;
    flex-direction: row;
    flex: 1;
    .user-image {
        width: 100px;
        height: 100px;
        float: left;
        font-size: 100px;
        text-align: center;
        .cui-icon {
            font-size: 100px;
        }
    }
    .user-details {
        float: left;
    }
}