/* You can add global styles to this file, and also import other style files */

@import "reset";

body {
<<<<<<< HEAD
    font-size: 14px;
=======
>>>>>>> ba397ef03b694f7a5a16a32773f59458ef0755e9
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: rgba(0,0,0,.1);
}
