/* You can add global styles to this file, and also import other style files */

@import "reset";

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: rgba(0,0,0,.1);
}
